<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>853520475136-td9mi3uh0ro65e2kf7oa28r6r49enrps.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.853520475136-td9mi3uh0ro65e2kf7oa28r6r49enrps</string>
	<key>API_KEY</key>
	<string>AIzaSyA-d-R0HfFK1Cm1rAPN-9PXJQD9T8Ul98c</string>
	<key>GCM_SENDER_ID</key>
	<string>853520475136</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.careplus24</string>
	<key>PROJECT_ID</key>
	<string>careplus-24</string>
	<key>STORAGE_BUCKET</key>
	<string>careplus-24.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:853520475136:ios:fc4dfc79a94161ad0f64e5</string>
</dict>
</plist>